{% extends "header.html" %}

{% load i18n %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block section_title %}
<div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Crear trayecto" %}</h2>
    </div>
</div>
{% endblock section_title %}

{% block section_messages %}
    {% if form.errors %}
        {{ form.erros }}
    {% endif %}
{% endblock section_messages %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="">
                {% csrf_token %}
                <origin-destination-select
                        origin-field="{{ form.origin.name }}"
                        origin-field-di="{{ form.origin.auto_id }}"
                        destiny-field="{{ form.destiny.name }}"
                        destiny-field-id="{{ form.destiny.auto_id }}">
                </origin-destination-select>
                {% for field in form %}
                    {% if not field.is_hidden %}
                    <div class="form-group row{% if field.errors %} has-danger{% endif %}">
                        <label for="{{ field.auto_id }}" class="col-sm-4 form-control-label">{{ field.label }}</label>
                        <div class="col-sm-8">
                        {% if field.name == "residence" %}
                            <div class="row">
                                <div class="col-sm-7">
                                    {{ field }}
                                </div>
                                <div class="col-sm-5">
                                    {% block residence_action %}
                                        <div class="btn-group pull-xs-right" role="group" aria-label="{% trans "Acciones" %}">
                                            <a href="{% url "journeys:create-residence" %}" class="btn btn-success-outline">{% trans "Crear nuevo lugar" %}</a>
                                        </div>
                                    {% endblock %}
                                </div>
                            </div>
                        {% elif field.name == "departure" %}
                            <journey-datetime field-name="{{ field.name }}" field-id="{{ field.auto_id }}"></journey-datetime>
                        {% elif field.name == "arrival" %}
                            <journey-datetime field-name="{{ field.name }}" field-id="{{ field.auto_id }}"></journey-datetime>
                        {% else %}
                            {{ field }}
                        {% endif %}
                            <span class="text-muted">{{ field.help_text }}</span>
                            <span class="text-muted">{{ field.errors }}</span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success">{% trans "Guardar" %}</button>
                        <a href="{% url "journeys:list" %}" class="btn btn-danger">{% trans "Volver" %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
