{% extends "sidebar.html" %}
{% load i18n %}
{% load core_tags %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {{ journey.description }}, {{ journey.departure }}
                {% if journey.disabled%}<span class="label label-danger">{% trans "Cancelado" %}</span>{% endif %}
            </h2>
        </div>
    </div>
{% endblock section_title %}

{% block sidebar %}
    {% if request.user == journey.user %}
        <a href="{% url "journeys:edit" journey.pk %}" class="btn btn-success" style="margin-bottom: 5px">{% trans "Editar" %}</a>
        {% if not journey.needs_driver and not journey.disabled %}
        <a href="{% url "journeys:cancel" journey.pk %}" class="btn btn-danger">{% trans "Cancelar trayecto" %}</a>
        {% endif %}
    {% else %}
        {% journey_join_leave_button journey %}
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% if not journey.needs_driver %}
                <h3>{% trans "Datos del transporte" %}</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">{% trans "Conductor" %}</th>
                        <td>{{ journey.driver.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Plazas libres" %}</th>
                        <td>{{ journey.current_free_places }}/{{ journey.free_places }}</td>
                    </tr>
                    </tbody>
                </table>
            {% elif is_fulfilled %}
                <h3>{% trans "Trayecto enlazado" %}</h3>
                <p class="text-muted">{% trans "Te has apuntado a este trayecto de otro usuario para cubrir tu necesiodad." %}</p>
                {% journey_item fulfilled_by %}
            {% else %}
                <h3>{% trans "Trayectos recomendados" %}</h3>
                <p class="text-muted">{% trans "Otros trayectos ofrecidos por otros usuarios que encajan en tus criterios." %}</p>
                {% for recommended_journey in recommended %}
                    {% journey_item recommended_journey %}
                {% empty %}
                    <h4 class="text-muted">{% trans "No se ha encontrado transporte recomendado" %}</h4>
                {% endfor %}
            {% endif %}
            {% if show_passengers %}
                <h3>{% trans "Pasajeros" %}</h3>
                <table class="table">
                    <tbody>
                    {% for passenger in passengers %}
                        <td>
                            {{ passenger.user.get_full_name }}
                        </td>
                        <td>
                            {% trans "Unido el" %} {{ passenger.created }}
                        </td>
                        {% if request.user == journey.driver and request.user == journey.user %}
                            <td>
                                <form method="post" action="{% url "journeys:throw-out" passenger.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="return_to" value="{{ request.path }}">
                                    <button type="submit" class="btn btn-danger">{% trans "Expulsar" %}</button>
                                </form>
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-sm-3">
            <h3>
                {% if journey.kind == 0 %}
                    {% trans "Origen" %}
                {% else %}
                    {% trans "Destino" %}
                {% endif %}
            </h3>
            <p>{{ journey.residence.address }}</p>
            <a href="{{ journey.residence.google_maps_link }}" target="_blank">
                <img src="{% google_static_map journey.residence.get_position_wgs84 300 300 14 %}" class="img-fluid">
            </a>
        </div>
    </div>
{% endblock content %}
