{% extends "header.html" %}
{% load i18n %}
{% load core_tags %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {{ journey.description }}, {{ journey.departure }}
                {% if journey.disabled%}<span class="label label-danger">{% trans "Cancelado" %}</span>{% endif %}
            </h2>
        </div>
    </div>
{% endblock section_title %}

{% block sidebar %}
    {% if request.user == journey.user %}
        <a href="{% url "journeys:edit" journey.pk %}" class="btn btn-success" style="margin-bottom: 5px">{% trans "Editar" %}</a>
        {% if not journey.needs_driver and not journey.disabled %}
            <a href="{% url "journeys:cancel" journey.pk %}" class="btn btn-danger">{% trans "Cancelar trayecto" %}</a>
        {% endif %}
    {% else %}
        {% journey_join_leave_button journey %}
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "journeys/blocks/details.description.html" %}
            {% if show_messenger %}
                <h3>{% trans "Tablón de mensajes" %}</h3>
                <messenger journey="{{ journey.pk }}" first-name="{{ request.user.first_name }}" last-name="{{ request.user.last_name }}"></messenger>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if show_passengers %}
                {% include "journeys/blocks/details.passengers.html" %}
            {% endif %}
            {% include "journeys/blocks/details.location.html" %}
        </div>
    </div>
{% endblock content %}
