{% extends "header.html" %}
{% load i18n %}
{% load core_tags %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {{ journey.description }}, {{ journey.departure }}
                {% if journey.disabled%}<span class="label label-danger">{% trans "Cancelado" %}</span>{% endif %}
            </h2>
        </div>
    </div>
{% endblock section_title %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            {% include "journeys/blocks/details.actions.html" %}
            {% if show_passengers %}
                {% include "journeys/blocks/details.passengers.html" %}
            {% endif %}
            {% include "journeys/blocks/details.location.html" %}
        </div>
        <div class="col-sm-9">
            {% include "journeys/blocks/details.description.html" %}
            {% if show_messenger %}
                <h3>{% trans "Tablón de mensajes" %}</h3>
                <p class="text-muted">{% trans "Habla con los otros pasajeros del viaje para concretar los detalles del viaje. La lista de mensajes <strong>no se actualiza automáticamente</strong>." %}</p>
                <messenger journey="{{ journey.pk }}" first-name="{{ request.user.first_name }}" last-name="{{ request.user.last_name }}"></messenger>
            {% endif %}
        </div>

    </div>
{% endblock content %}
