{% extends "header.html" %}
{% load i18n %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans "Trayectos en los que viajo" %}</h2>
            <p>{% trans "Lista con los trayectos a los que te has apuntado como pasajero." %}</p>
        </div>
    </div>
{% endblock section_title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% for journey in journeys %}
                {% journey_item journey %}
            {% empty %}
                <h3 class="text-muted">{% trans "No tienes trayectos en los que viajas" %}</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
