{% extends "sidebar.html" %}
{% load i18n %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans "Mis trayectos" %}</h2>
        </div>
    </div>
{% endblock section_title %}

{% block sidebar %}
    <a href="{% url "journeys:create" %}" class="btn btn-primary">{% trans "Nuevo trayecto" %}</a>
{% endblock sidebar %}

{% block content %}
    {% for journey in journeys %}
        {% journey_item journey %}
    {% empty %}
        <h3 class="text-muted">{% trans "No tienes trayectos creados" %}</h3>
    {% endfor %}
{% endblock content %}
