{% extends "header.html" %}
{% load i18n %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{% trans "Mis trayectos" %}</h2>
        </div>
    </div>
{% endblock section_title %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% for journey in journeys %}
                {% journey_item journey %}
            {% empty %}
                <h3 class="text-muted">{% trans "No tienes trayectos creados" %}</h3>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <a href="{% url "journeys:create" %}" class="btn btn-primary pull-xs-right">{% trans "Nuevo Trayecto" %}</a>
        </div>
    </div>
{% endblock content %}
