{% load i18n %}
{% load core_tags %}
{% load journeys_tags %}
{% load humanize %}

<div class="journey-item {% if journey_item.disabled %}journey-item-disabled{% endif %}">
    <div class="row">
        <div class="col-sm-3 map">
            <a href="{{ journey_item.residence.google_maps_link }}" target="_blank">
                <img src="{% google_static_map journey_item.residence.get_position_wgs84 235 201 14 %}" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-6">
            <h4>{{ journey_item.description }}</h4>
            <p class="lead">
                {% if journey_item.disabled%}<span class="label label-danger">{% trans "Cancelado" %}</span>{% endif %}
                {% if journey_item|is_passenger:request.user %}<span class="label label-success">{% trans "Apuntado" %}</span>{% endif %}
                {{ journey_item.departure }}
            </p>
            <table class="table table-sm">
                <tbody>
                {% if not journey_item.needs_driver %}
                    <tr>
                        <th scope="row">{% trans "Conductor" %}</th>
                        <td>{{ journey_item.driver.get_full_name }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Origen"%}</th>
                    <td>{% if journey_item.kind == 1 %}{{ journey_item.origin.name }}{% else %}{{ journey_item.origin.address }}{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Destino"%}</th>
                    <td>{% if journey_item.kind == 0 %}{{ journey_item.destination.name }}{% else %}{{ journey_item.destination.address }}{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Distancia"%}</th>
                    <td>{{ journey_item.distance|floatformat|intcomma }} Km</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 text-xs-center journey-item-actions">
            {% if not journey_item.needs_driver %}
                <h4>
                    {{ journey_item.current_free_places }}/{{ journey_item.free_places }}<br />
                    <small class="text-muted">{% trans "Plazas" %}</small>
                </h4>
            {% elif journey_item.needs_driver and not journey_item.is_fulfilled %}
                <h4 class="text-danger">{% trans "Necesitas conductor" %}</h4>
            {% elif journey_item.is_fulfilled %}
                <h4 class="text-success">{% trans "Ya tienes conductor" %}</h4>
            {% endif %}
            <a href="{% url "journeys:details" journey_item.pk %}" class="btn btn-primary">{% trans "Detalles" %}</a>
            {% if request.user == journey_item.user %}
                <a href="{% url "journeys:edit" journey_item.pk %}" class="btn btn-success">{% trans "Editar" %}</a>
            {% else %}
                {% journey_join_leave_button journey_item %}
            {% endif %}
        </div>
    </div>
</div>
