{% load i18n %}
{% load core_tags %}
{% load journeys_tags %}
<div class="journey-item">
    <div class="row">
        <div class="col-sm-2 map">
            <img src="{% google_static_map journey.residence.get_position_wgs84 135 101 14 %}" class="img-fluid">
        </div>
        <div class="col-sm-8">
            <h4>{{ journey.departure }}</h4>
            <p class="lead">{{ journey.description }}</p>
            <table class="table table-sm">
                <tbody>
                {% if not journey.needs_driver %}
                    <tr>
                        <th scope="row">{% trans "Conductor" %}</th>
                        <td>{{ journey.driver.get_full_name }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Origen"%}</th>
                    <td>{% if journey.kind == 1 %}{{ journey.origin.name }}{% else %}{{ journey.origin.address }}{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Destino"%}</th>
                    <td>{% if journey.kind == 0 %}{{ journey.destination.name }}{% else %}{{ journey.destination.address }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 text-xs-center journey-item-actions">
            {% if not journey.needs_driver %}
                <h4>
                    {{ journey.current_free_places }}/{{ journey.free_places }}<br />
                    <small class="text-muted">{% trans "Plazas" %}</small>
                </h4>
            {% else %}
                <h4 class="text-danger">{% trans "Necesita conductor" %}</h4>
            {% endif %}
            <a href="{% url "journeys:details" journey.pk %}" class="btn btn-primary">{% trans "Detalles" %}</a>
            {% if request.user == journey.user %}
                <a href="{% url "journeys:edit" journey.pk %}" class="btn btn-success">{% trans "Editar" %}</a>
            {% else %}
                {% journey_join_leave_button journey %}
            {% endif %}
        </div>
    </div>
</div>
