{% load i18n %}
{% load journeys_tags %}
{% if not journey_item.needs_driver and not journey_item|is_passenger:request.user and journey_item.are_there_free_places %}
    <form method="post" action="{% url "journeys:join" journey_item.pk %}" join-journey-form journey-id="{{ journey_item.pk }}">
        {% csrf_token %}
        <input type="hidden" name="return_to" value="{{ request.path }}">
        {% if journey_item.disabled or passenger.status == UNKNOWN or passenger.status == REJECTED %}
            {% if passenger.status == UNKNOWN %}
                <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Esperando confirmación" %}</button>
            {% elif passenger.status == REJECTED %}
                <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Rechazado" %}</button>
            {% else %}
              <button type="button" disabled="disabled" class="btn btn-secondary">{% trans "Unirse" %}</button>
            {% endif %}
        {% else %}
          {% if not journey_item.has_recurrence %}
            <input type="hidden" name="join_to" value="one">
            <button type="submit" class="btn btn-success">{% trans "Unirse" %}</button>
          {% else %}
            {# --- START modal for all or one journey --- #}
            {% include "journeys/blocks/join.all.one.html" %}
            {# --- END for all or one journey --- #}
            <input type="hidden" name="join_to" ng-value="joinToValue">
            <button type="submit" class="btn btn-success">{% trans "Unirse" %}</button>
          {% endif %}
        {% endif %}
    </form>
{% elif not journey_item.needs_driver and journey_item|is_passenger:request.user %}
    <form method="post" action="{% url "journeys:leave" journey_item.pk %}">
        {% csrf_token %}
        <input type="hidden" name="return_to" value="{{ request.path }}">
        <button type="submit" class="btn btn-danger">{% trans "Abandonar" %}</button>
    </form>
{% endif %}
