{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bundle CSS -->
    <link rel="stylesheet" href="{% static "css/bundle.css" %}">
  </head>
  <body>
    {% block pre_body %}{% endblock pre_body %}
    {% block body %}
        <div class="container">
        {% block container %}
        {% endblock container %}
        </div>
    {% endblock body %}
    {% block post_body %}{% endblock post_body %}
    <!-- Bundle JS -->
    <script src="{% static "js/bundle.js" %}"></script>
  </body>
</html>
