{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bundle CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="{% static "css/bundle.css" %}">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body ng-app="upvcarshare">
{% block pre_body %}{% endblock pre_body %}

{% block header %}{% endblock header %}
{% block body %}
    <div class="section-container container">
        {% block container %}
            <div class="section-title">
                {% block section_title %}{% endblock section_title %}
            </div>
            <div class="section-messages">
            {% block section_messages %}
                {% include "blocks/section.messages.html" %}
            {% endblock section_messages %}
            </div>
            <div class="section-content">
                {% block content %}{% endblock content %}
            </div>
        {% endblock container %}
    </div>
{% endblock body %}

<!-- Bundle JS -->
<script src=//code.jquery.com/jquery-2.2.0.min.js></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/lang-all.js"></script>
<script src="{% static "js/bundle.js" %}"></script>

{% block post_body %}{% endblock post_body %}
</body>
</html>
