{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load core_tags %}

{% block header %}
    <div class="container section-ribbon">
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-5 red"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-1 red"></div>
        </div>
    </div>
    <div class="container section-main-title">
        <div class="row">
            <div class="col-sm-7">
                <img src="{% static "img/upv.png" %}">
            </div>
            <div class="col-sm-5">
                <h1>{% trans "Compartir Coche en la UPV" %}</h1>
            </div>
        </div>
    </div>
    <div class="container section-navbar">
        <nav class="navbar navbar-full navbar-dark bg-upv-dark-grey">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav pull-xs-left">
                    <li class="nav-item {% add_active_class "notifications:list" %}">
                        <a class="nav-link" href="{% url "notifications:list" %}">
                            {% trans "Notificaciones" %}
                            {% if unread_notifications > 0 %}
                                <span class="label label-pill label-danger">{{ unread_notifications }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item {% add_active_class "journeys:search" %}">
                        <a class="nav-link" href="{% url "journeys:search" %}">{% trans "Buscador" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "journeys:recommended" %}">
                        <a class="nav-link" href="{% url "journeys:recommended" %}">{% trans "Recomendaciones" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "journeys:create" %} dropdown">
                      <a class="nav-link" href="{% url "journeys:create" %}">{% trans "Crear viaje" %}</a>
                    </li>
                    <li class="nav-item {% add_active_class "users:edit,journeys:list,journeys:residences,journeys:transports,journeys:details,journeys:edit" %} dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {{ request.user.get_full_name }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url "users:edit" %}">{% trans "Editar perfil" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "journeys:list" %}">{% trans "Mis viajes" %}</a>
                            <a class="dropdown-item" href="{% url "journeys:residences" %}">{% trans "Mis lugares" %}</a>
                            <a class="dropdown-item" href="{% url "journeys:transports" %}">{% trans "Mis transportes" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "users:sign-out" %}">{% trans "Salir" %}</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "users:sign-in" %}">{% trans "Acceder" %}</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock header %}
