{% load i18n %}
<div class="row" style="margin-bottom: 10px">
    <div class="col-md-8">
        <h3 class="text-muted" ng-cloak ng-hide="!$ctrl.loadingEvents">{% trans "Cargando viajes..." %}</h3>
        <ul class="list-unstyled list-inline" ng-cloak ng-hide="$ctrl.loadingEvents">
            <li class="list-inline-item"><span class="label label-success">{% trans "Viajes creados en los que eres conductor" %}</span></li>
            <li class="list-inline-item"><span class="label label-danger">{% trans "Viajes creados en los que necesitas conductor" %}</span></li>
            <li class="list-inline-item"><span class="label label-info">{% trans "Viajes a los que te has apuntado" %}</span></li>
            <li class="list-inline-item"><span class="label label-default">{% trans "Viajes cancelados" %}</span></li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="btn-group pull-xs-right">
            <button class="btn btn-success" ng-click="$ctrl.changeView('agendaDay', 'calendar')">{% trans "Dia" %}</button>
            <button class="btn btn-success" ng-click="$ctrl.changeView('agendaWeek', 'calendar')">{% trans "Semana" %}</button>
            <button class="btn btn-success" ng-click="$ctrl.changeView('month', 'calendar')">{% trans "Mes" %}</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ui-calendar="$ctrl.uiConfig.calendar" ng-model="$ctrl.eventSources" calendar="calendar"></div>
    </div>
</div>
