{% load i18n %}
<div class="input-group">
    <input type="text"
           class="form-control"
           datetime-picker="dd/MM/yyyy HH:mm"
           ng-model="$ctrl.picker.date"
           is-open="$ctrl.picker.open"
           datepicker-options="$ctrl.picker.dateOptions"
           timepicker-options="$ctrl.picker.timeOptions"
           button-bar="$ctrl.picker.buttonBar"
           name="[[$ctrl.fieldName]]"
           id="[[$ctrl.fieldId]]">
    <span class="input-group-addon">
        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.openCalendar($event)"
                style="background: transparent; padding: 0"
        ><i class="fa fa-calendar"></i></button>
    </span>
</div>
