{% load i18n %}
<div class="form-group row">
    <label class="col-sm-4 form-control-label">{% trans "Lugar de origen*" %}</label>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-7">
                <select class="form-control"
                        ng-model="$ctrl.originSelected"
                        ng-change="$ctrl.changeOrigin()"
                        ng-options="option.name for option in $ctrl.originOptions">
                </select>
                <input type="hidden" name="[[$ctrl.originField]]" id="[[$ctrl.originFieldId]]" value="[[$ctrl.originFieldValue]]" >
            </div>
            <div class="col-sm-5">
                {% block residence_action %}
                    <div class="btn-group pull-xs-right" role="group" aria-label="{% trans "Acciones" %}">
                        <a href="{% url "journeys:create-residence" %}" class="btn btn-outline-success">{% trans "Crear nuevo lugar" %}</a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 form-control-label">{% trans "Lugar de destino*" %}</label>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-7">
                <select class="form-control"

                        ng-disabled="$ctrl.originSelected == null"
                        ng-change="$ctrl.changeDestiny()"
                        ng-model="$ctrl.destinySelected"
                        ng-options="option.name for option in $ctrl.destinyOptions">
                </select>
                <input type="hidden" name="[[$ctrl.destinyField]]" id="[[$ctrl.destinyFieldId]]" value="[[$ctrl.destinyFieldValue]]" >
            </div>
        </div>
    </div>
</div>
