{% extends "header.html" %}
{% load i18n %}
{% load journeys_tags %}

{% block section_title %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{% trans "Crear lugar" %}</h2>
        </div>
    </div>
{% endblock section_title %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "position" %}
                        <div class="form-group row{% if field.errors %} has-danger{% endif %}">
                            <label for="{{ field.auto_id }}" class="col-sm-3 form-control-label">{{ field.label }}</label>
                            <div class="col-sm-9">
                                <circle-map position-value="{{ form.position.value|point_google_maps }}"
                                            position-field="{{ form.position.name }}"
                                            position-field-id="{{ form.position.auto_id }}"
                                            radius-value="{{ form.distance.value }}"
                                            radius-field="{{ form.distance.name }}"
                                            radius-field-id="{{ form.distance.auto_id }}">
                                </circle-map>
                                <span class="text-muted">{{ field.help_text }}</span>
                            </div>
                        </div>
                    {% elif field.name == "distance" %}
                    {% else %}
                        <div class="form-group row{% if field.errors %} has-danger{% endif %}">
                            <label for="{{ field.auto_id }}" class="col-sm-3 form-control-label">{{ field.label }}</label>
                            <div class="col-sm-9">
                                {{ field }}
                                <span class="text-muted">{{ field.help_text }}</span>
                                <span class="text-muted">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success">{% trans "Guardar" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
