{% extends "header.html" %}
{% load i18n %}
{% load socialaccount %}

{% block section_title %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{% trans "Acceder" %}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <a href="{% provider_login_url "openid" openid="https://yo.rediris.es/soy/@upv.es" next=next %}" class="btn btn-primary">
                {% trans "Acceso con credenciales UPV" %}
            </a>
        </div>
    </div>
{% endblock content %}
