@import "colors";

.journey-item {
  padding: 10px;
  border-bottom: 1px dotted $upv-grey;
  margin-bottom: 5px;
  &-actions {
    .btn {
      margin-bottom: 5px;
    }
  }
  &-disabled {
    background-color: #eee;
  }
}

.residence-entry { @extend .journey-item }

.table {
  th,
  td {
    border-top: $table-border-width dotted $table-border-color;
  }
}

#id_i_am_driver {
  @extend .list-unstyled;
}
