// Styles for messenger module
@import "variables";


.messenger {
  .messages-list {
    height: 500px;
    padding-bottom: 90px;
    overflow-y: scroll;
  }
  .message {
    padding: 7px;
    background-color: #eee;
    border-bottom: 1px dotted $upv-dark-grey;
    margin-bottom: 10px;
  }
}

.messenger-form {
  display: inline-block;
  position: fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  form {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #eee;
  }
}
