{% load i18n %}

<h3>{% trans "Lista de pasajeros" %}</h3>
<table class="table">
    <tbody>
    {% for passenger in passengers %}
        <tr>
            <td>
                <img src="{{ passenger.user.get_avatar_url }}" class="img-circle avatar">
            </td>
            <td>
                {{ passenger.user.get_full_name }} <br />
                <small>{% trans "Unido el" %} {{ passenger.created }}</small>
            </td>
        </tr>
        <tr class="passenger-actions">
            {% if request.user == journey.driver and request.user == journey.user %}
                {% if passenger.status == CONFIRMED %}
                    <td colspan="2">
                        <form method="post" action="{% url "journeys:throw-out" passenger.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="return_to" value="{{ request.path }}">
                            <button type="submit" class="btn btn-danger">{% trans "Expulsar" %}</button>
                        </form>
                    </td>
                {% else %}
                    <td colspan="2">
                        <form method="post" action="{% url "journeys:confirm" passenger.pk %}" style="display: inline-block" {% if passenger.has_recurrence %}confirm-passenger-form{% endif %}>
                            {% csrf_token %}
                            <input type="hidden" name="return_to" value="{{ request.path }}">
                            <input type="hidden" name="user" value="{{ passenger.user.pk }}">
                            <button type="submit" class="btn btn-success">{% trans "Confirmar" %}</button>
                            <script type="text/ng-template" id="confirm-passenger.html">
                              <div class="modal-body text-xs-center">
                                <p class="lead">{% trans "El usuario ha solicitado apuntarse a más de una de las ocurrencias de este viaje" %}</p>
                                <button class="btn btn-lg btn-danger" type="button" ng-click="cancel($event)">{% trans "Cancelar" %}</button>
                                <button class="btn btn-lg btn-success" type="button" ng-click="continue($event)">{% trans "Confirmar para todos" %}</button>
                              </div>
                            </script>
                        </form>
                        <form method="post" action="{% url "journeys:reject" passenger.pk %}" style="display: inline-block" {% if passenger.has_recurrence %}reject-passenger-form{% endif %}>
                            {% csrf_token %}
                            <input type="hidden" name="return_to" value="{{ request.path }}">
                            <input type="hidden" name="user" value="{{ passenger.user.pk }}">
                            <button type="submit" class="btn btn-danger">{% trans "Rechazar" %}</button>
                            <script type="text/ng-template" id="reject-passenger.html">
                              <div class="modal-body text-xs-center">
                                <p class="lead">{% trans "El usuario ha solicitado apuntarse a más de una de las ocurrencias de este viaje" %}</p>
                                <button class="btn btn-lg btn-danger" type="button" ng-click="cancel($event)">{% trans "Cancelar" %}</button>
                                <button class="btn btn-lg btn-success" type="button" ng-click="continue($event)">{% trans "Rechazar para todos" %}</button>
                              </div>
                            </script>
                        </form>
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    {% empty %}
        <p class="text-muted">{% trans "No hay pasajeros ahora mismo." %}</p>
    {% endfor %}
    </tbody>
</table>
