{% load i18n %}
{% load journeys_tags %}

{% if not journey.needs_driver %}
    <h3>{% trans "Datos del transporte" %}</h3>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">{% trans "Conductor" %}</th>
            <td>{{ journey.driver.get_full_name }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Plazas libres" %}</th>
            <td>{{ journey.current_free_places }}/{{ journey.free_places }}</td>
        </tr>
        {% if journey.transport %}
            <tr>
                <th scope="row">{% trans "Datos del transporte" %}</th>
                <td>{{ journey.transport.description }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% elif is_fulfilled %}
    <h3>{% trans "Viajes enlazado" %}</h3>
    <p class="text-muted">{% trans "Te has apuntado a estos viajes de otros usuarios para cubrir tu necesidad." %}</p>
    {% for fulfilled_journey in fulfilled_by %}
        {% journey_item fulfilled_journey %}
    {% endfor %}
{% else %}
    <h3>{% trans "Viajes recomendados" %}</h3>
    <p class="text-muted">{% trans "Otros viajes ofrecidos por otros usuarios que encajan en tus criterios." %}</p>
    {% for recommended_journey in recommended %}
        {% journey_item recommended_journey %}
    {% empty %}
        <h4 class="text-muted">{% trans "No se ha encontrado transporte recomendado" %}</h4>
    {% endfor %}
{% endif %}
