{% load i18n %}
{{form.errors}}
<form method="post" action="" search-journey-form show-time="{{form.search_by_time.value}}">
    {% csrf_token %}
    <div class="form-group row">
      <label for="{{ form.departure_date.auto_id }}" class="col-sm-3 form-control-label">{{ form.departure_date.label }}</label>
      <div class="col-sm-3">
          <journey-date field-name="{{ form.departure_date.name }}" field-id="{{ form.departure_date.auto_id }}" value={{ form.departure_date.value }}></journey-date>
      </div>
      <div class="col-sm-6 form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" ng-click="toggleTime()" name="{{ form.search_by_time.name }}"
                 {% if form.search_by_time.value %}checked="checked"{% endif %}>
          {% trans "¿Especificar la hora del viaje?" %}
        </label>
      </div>
    </div>
    <div class="form-group row" ng-cloak ng-hide="showTime==='False'">
      <label for="{{ form.departure_date.auto_id }}" class="col-sm-3 form-control-label" style="padding-top:30px">{{ form.departure_time.label }}</label>
      <div class="col-sm-3">
          <journey-time field-name="{{ form.departure_time.name }}" field-id="{{ form.departure_time.auto_id }}"  value={{ form.departure_time.value }}></journey-time>
      </div>
      <label for="{{ form.time_window.auto_id }}" class="col-sm-3 form-control-label" style="padding-top:30px">{{ form.time_window.label }}</label>
      <div class="col-sm-3" style="padding-top:30px">
          {{ form.time_window }}
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <circle-map position-value="{{ form.position.value }}"
                        position-field="{{ form.position.name }}"
                        position-field-id="{{ form.position.auto_id }}"
                        radius-value="{{ form.distance.value }}"
                        radius-field="{{ form.distance.name }}"
                        radius-field-id="{{ form.distance.auto_id }}">
            </circle-map>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">{% trans "Buscar viajes" %}</button>
        </div>
    </div>
</form>
